---
layout: default
title: 本站介绍
comment: true
---

<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <div class="about">

        <div class="about-text">
          <p>{{ site.author.simpleIntro }}</p>
          <p>这里是 DanfengCao 的个人站点.</p>
          <p>本科在 <a href="http://www.shu.edu.cn/" target="_blank">上海大学</a>  胡混, 却也渡过了非常愉快的本科生活.</p>
          <p>后进入 <a href="http://www.sjtu.edu.cn/" target="_blank">上海交通大学</a> 读研, 师从国内著名生物信息学专家 <a href="http://cgm.sjtu.edu.cn/" target="_blank">韦朝春</a> 博士.</p>
          <p>毕业后加入<a href="http://www.dianping.com/" target="_blank">大众点评</a>, 目前在DBA组搬砖. 主要工作是数据库相关工具的开发、MySQL运维.</p>
          <p>这个站点是我记录思考和整理资料的场所, 主要用来帮助自己完善思想和知识体系, 希望也能对其他人有点用.</p>
          <p>欢迎给我留言.</p>
        </div>
        <div class="about-image">
          <img src="{{ site.author.imageLink }}" />
        </div>

    </div>
    <div class="fn-clear"></div>
    <div class="social">
      {% for link in site.follow %}
      <a href="{{ link.url }}" target="_blank"><i class="{{ link.class }}"></i></a>
      {% endfor %}
    </div>
    <div class="fn-clear"></div>
    <div class="contact">
      <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
    </div>
    <div class="comment">
      {% if site.disqus.config %}
      <div id="disqus_thread"></div>
      {% else if site.duoshuo.config %}
      <div class="ds-thread"></div>
      {% endif %}
    </div>
</div>
