---
layout: default
title: About
comment: true
---

<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <div class="about">

        <div class="about-text">
          <p>{{ site.author.simpleIntro }}</p>
          曹单锋(DanfengCao)。
          目前在大众点评DBA组搬砖。
          <!-- 本科就读于上海大学化学系。期间摔坏玻璃瓶无数。害怕，不敢帮女生做实验，自信心受到重创。化学之路就此扑街。 -->
        </div>
        <div class="about-image">
            <img src="{{ site.author.imageLink }}" />
        </div>
    </div>
    <div class="fn-clear"></div>
    <div class="social">
      {% for link in site.follow %}
      <a href="{{ link.url }}" target="_blank"><i class="{{ link.class }}"></i></a>
      {% endfor %}
    </div>
    <div class="fn-clear"></div>
    <div class="contact">
      <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
    </div>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread"></div>
            {% endif %}
        {% endif %}
    </div>
</div>
